<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM6WNsiTKvoYayz9m307ID4y8wudUwopA</string>
	<key>GCM_SENDER_ID</key>
	<string>668341099992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>some.todoapp.firebaseConnet</string>
	<key>PROJECT_ID</key>
	<string>fir-ios-d375c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-ios-d375c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668341099992:ios:62386acc25bf21b34ba6ad</string>
</dict>
</plist>